@import '../../styles/index.scss';

@media (min-width: 1200px) {
    .dia-mt-crctn {
        margin-top: 5%;
    }
}

@media (max-width: 1200px) {
    .dia-mt-crctn {
        margin-top: 7%;
    }
}

@media (max-width: 840px) {
    .dia-mt-crctn {
        margin-top: 9%;
    }
}


@media (max-width: 660px) {
    .dia-mt-crctn {
        margin-top: 12%;
    }
}