@import '../../styles/index.scss';

.logo img {
    width: 360px;
}

.rowWidth {
    width: 100%;
}

.login {
    border-left: 2px solid #72A521;
    padding: 40px;
}

.logo {
    text-align: center;
    padding: 40px;
}
